#window{
    margin-top: 50px;
    background-color: rgb(243, 85, 37);
    color:orange;
    padding: 15px;
    border-radius: 5px 40px;
    box-shadow: 0 0 8px black;
   

}

body {
  
	background: linear-gradient(-45deg, #ee765255, #e73c7e8f, #23a5d5a2, #23d5ab88);
	background-size: 400% 400%;

	animation: gradient 25s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 10% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#banner-icon{
    font-family: 'Kufam', sans-serif;   
    position:absolute;
    width: 100%;
    padding-bottom: 110%;
    vertical-align:inherit;
    padding-left: 80px;
    padding-top: 50px;  
}

#btn-login{
    font-family: 'Kufam', sans-serif;  
    font-size: 30px;

}

.swapbox_select{
    width: 50%;
    float:left;
    color:aqua;
    font-family: 'Kufam', sans-serif;
    
}

.swapbox{
    overflow: auto;
    margin: 20px 0;
    padding: 20px;
    background-color: rgb(219, 59, 59);
    border-radius: 140px;
    border:1px solid rgb(224, 134, 16);
    font-family: 'Kufam', sans-serif;
}

.token_select{
    padding: 5px;
    font-family: 'Kufam', sans-serif;
}
.token_select:hover{
    background-color: sandybrown;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Kufam', sans-serif;

}

#swap_button{
    border-radius: 5px 20px;
    background-color: sandybrown;
    font-family: 'Kufam', sans-serif;
}

#to_amount{
    border-radius: 5px 20px;
    background-color: sandybrown;
    font-size: 20px;
    font-family: 'Kufam', sans-serif;
}

#from_amount{
    border-radius: 5px 20px;
    background-color: sandybrown;
    font-size: 20px;
    font-family: 'Kufam', sans-serif;
}

.btn-close{
    font-size: 20px;
    background-color: sandybrown;
    margin: 10px;
    font-family: 'Kufam', sans-serif;
    border-radius: 20px 5px;
}
.navbar-brand{
    font-size: 80px;
    color: tomato;
    font-family: 'Kufam', sans-serif;
    padding-bottom: 10px;
   

}#monkey{
/*
    width: 100px;
    height: 100px;
    background: url(orangutan.-0.01.svg);
    background-size: 100px, 82px;
    vertical-align: center;
    padding-left: 100px;
    



    width: 200px;
    height: 200px;
    animation-name: spin;
    animation-duration: 9.00s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
 
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } */
  
display: block;
position:absolute;
width: 100%;
padding-bottom: 100%;
padding-left: 230px;
padding-top: 50px;

}
img{
    
    inline-size: 450px;
}

.nav-second{
    width: 100%;
    height: 80px;
    line-height: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(187, 18, 187);
    border: 20px rgb(248, 104, 20);
    border-radius: px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 5px 20px;

}
  
.nav-second ul li:hover{
    background-color: #000 ;
    cursor: pointer;

}
.nav-second ul{
    text-align: center;
    padding-top: 5px;
    margin:0px;
    padding-right: 50px;
}
.nav-second ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 3px;
    color: #ccc;
    font-size: 20px;

    border: 2px solid rgb(248, 106, 23);
    border-radius: 13px 3px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}


.modal-dialog{
    border-radius: 60px 10px;

}
.modal-content{
    border-radius: 60px 5px;
    border-width: 10px;
}


.navbar{
    color: rgb(247, 102, 19);
     font-family: 'Kufam', sans-serif;
}

    
.navbar-brand{
    color: rgb(247, 102, 19);
    font-family: 'Kufam', sans-serif;

}
.navbar-toggler{
    color: #000;
    background-color: rgb(180, 120, 250);
    font-size: 10px;
    border-radius: 30px 3px;
}

#btn-login{
     color: rgb(253, 251, 251);
    background-color: rgb(250, 120, 260);
    font-size: 15px;
    border-radius: 30px 3px;

}

#btn-logout{
    color: rgb(252, 244, 244);
   background-color: rgb(246, 120, 220);
   font-size: 10px;
   border-radius: 30px 3px;

}